<a href="https://colab.research.google.com/github/DhruvPopli/python/blob/main/Dhruv_Popli_XI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("my name is dhruv")
 
a_num = 3
b = 4
print(a_num)
print(b)
a_num , b = b, a_num
print (a_num)

my name is dhruv
3
4
4

In [ ]:
print(8 + 5 - 3) #mathematical calculation


"63"*3 #string is displayed 3 times

10

'636363'

In [ ]:
#in operator
W = "water"
A = "air"
P = "pizza"
 
print("Essential in our life")
print(W in "air and water in life")

Essential in our life
True

In [ ]:
a = 1  #1 is an integer literal
b = 2,3 #2,3 is a floating point literal
c = False #False is a boolean literal
d = 5L # 5L is a long integer literal
e = 8 + 6j #8 + 6j is a complex literal
f = "Hello" #"hello" is a string literal

SyntaxError: ignored

In [ ]:
 print("program to add 2 numbers")
a = 10
b = 20
sum = a + b
divide = a / b
multiply = a * b
subtract = a - b

print("the sum of %i and %i is %i"%(a, b , sum))
print("the quotient of %i and %i is %i"%(a, b , divide))
print("the multiplication of %i and %i is %i"%(a, b , multiply))
print("the subtraction of %i and %i is %i"%(a, b , subtract))

program to add 2 numbers
the sum of 10 and 20 is 30
the quotient of 10 and 20 is 0
the multiplication of 10 and 20 is 200
the subtraction of 10 and 20 is -10

In [ ]:
print(15/3)
print(type(3.4)) #type(built in function) -  gives what kind of data object it is
print(type("good morning"))

5.0
<class 'float'>
<class 'str'>

In [ ]:
x = input("enter your name: ")
print("welcome! ", x)

enter your name: dhruv
welcome!  dhruv

In [ ]:
#a small cal or program to add two numbers
num1 = float(input("enter first number: "))
num2 = int(input("enter second number: "))
sum = num1 + num2

print("the sum =", sum)

enter first number: 3
enter second number: 2
the sum = 5.0

In [ ]:
#cube

num1 = int(input("Enter your number:" ))
result =num1**3
print("result = " ,result)

Enter your number:5
result =  125

In [ ]:
#area

length = int(input("Lenght: "))
breadth = int(input("breadth:  "))
area = length * breadth
print("AREA = ", area)

Lenght: 5
breadth:  3
AREA =  15

In [ ]:
#Simple Interest

Time = int(input("Time: "))
principal = int(input("principal: "))
rate = int(input("Rate: "))
SI = Time*principal*rate/100
print("Simple interest = ", SI)

Time: 2
principal: 2500
Rate: 8
Simple interest =  400.0

In [ ]:
#PF Q)1
a = int(input("Enter your first number:"))
b = int(input("Enter your second number: "))
if a > b:
  print(a, "is greater than ", b)
else:
  print(b, "is greater than",a)

Enter your first number:55
Enter your second number: 3
55 is greater than  3

In [ ]:
True+5 #True = 1
#checking for inequality == and single = assign for value
#Q)2
#if statements
num1 = int(input("enter your number: "))
if num1%2==0:
  print(num1,"even number")
else:
     print(num1,"odd number")

enter your number: 20
20 even number

In [ ]:
# Q)3
a = int(input("Enter your number: "))
if a < 0:
  print(a, "is a negative number")
elif a > 0:
  print(a,"is a positive number")
else:
  print("invalid try again")

Enter your number: -5
-5 is a negative number

In [ ]:
# Q)4
a = int(input("Enter year: "))
if a%4 == 0 or  a%100 == 0 or  a%400== 0:
  print(a,"is a leap year")
else:
  print(a,"is not a leap year")

Enter year: 1604
1604 is a leap year

In [ ]:
# Q)5
a = int(input("enter your age: "))
if a > 18:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote ")

enter your age: 19
you are eligible to vote

In [ ]:
# Q)6
a = int(input("Enter your percentage: "))
if a < 60 and a <= 0:
  print(a," work hard" )
elif a >= 60 and a <= 100:
  print(a," pass")
else:
  print("invalid percentage")

Enter your percentage: 85
85  pass

In [ ]:
# Q) 7
a = int(input("enter principle: "))
b = int(input("enter time: "))

if b > 10:
  c = 8
  SI = a*b*c/100
  print(SI)
else:
  c = 12
  SI = a*b*c/100
  print(SI)

enter priciple: 1200
enter time: 1
144.0

In [ ]:
# Q)8
a = int(input("Enter your number: "))
if a % 2 == 0:
  print(a*a)
else:
  print(a*a*a)

Enter your number: 10
100

In [ ]:
#divisible

a = int(input("enter your first number:"))
b = int(input("enter your second number: "))
if a%b == 0:
  print(a, "is dvisible by ",b)
else:
    print(a,"is not divisble by", b)

enter your first number:40
enter your second number: 20
40 is dvisible by  20

In [ ]:
#negative into positive using abs()

a = int(input("number of students: "))
if a<0:
  print("total number of students: " ,abs(a))
else:
    print("total no of students: ",a)

number of students: -55
students number is 55

In [ ]:
#menu program to calculate numbers

choice  = int(input("Enter your numbers: "))

if choice == 1:
  L= int(input("enter your length: "))
  B = int(input("enter your breadth: "))
  H = int(input("enter your height: "))
  vol_of_cuboid = L*B*H
  print(vol_of_cuboid)
  sur_area = (2*(L*B)) + (2*(H*B))+ (2*(H*L))
  print(sur_area)

elif choice == 2:

  s = int(input("enter your length: "))
  vol_of_cube = s*s*s
  print(vol_of_cube)
  TSA_of_cube = 6*s*s
  print(TSA_of_cube)

elif choice == 3:
  r = int(input("enter your radius: "))
  h = int(input("enter your height: "))
  TSA_of_sphere = 2 * 3.14 * L * H
  print(TSA_of_sphere)
  vol_of_sphere = (4/3) *(3.14*r*r*r)
  print(vol_of_cube)

else:
    print("incorrect choice")

Enter your numbers: 1
enter your length: 23
enter your breadth: 22
enter your height: 21
10626
2902

In [ ]:
a = int(input("enter your number: "))
b = int(input("enter your number: "))
c = int(input("enter your number: "))
if a >b and a>c:
  print("greatest number: ",a)
elif b > a and b > c:
  print("greatest number: ",b)
else:
  print("greatest number: ",c)

enter your number: 25
enter your number: 32
enter your number: 19
greatest number:  32

In [ ]:
#percentage calculate

Eng = int(input("enter your marks: "))
physics = int(input("enter your marks: "))
maths = int(input("enter your marks: "))
chemistry = int(input("enter your marks: "))
cs = int(input("enter your marks: "))
percentage = (Eng + physics + maths + chemistry + cs)/ 5

if percentage >= 80: 
  print(percentage,"excellent")
elif  percentage >= 60 and percentage<80:
  print(percentage,"very good")
elif percentage >=40 and percentage<= 60:
  print(percentage,"good")
elif percentage >= 40:
  print(percentage,"work hard")

enter your marks: 89
enter your marks: 90
enter your marks: 92
enter your marks: 82
enter your marks: 80
86.6 excellent

In [ ]:
#function to return square of number

def sqr(a):
  return a*a #for cube return a*a*a or a**3

num1 = int(input("enter your number: "))

square = sqr(num1)
print("square of ", num1 ,"is", square)

In [ ]:
#function to calculate area of a triangle

def area(base,height):
  result = 0.5 * base * height
  return result

print("area of triangle: ", area(10,5))

area of triangle:  25.0

In [ ]:
#function to convert celcius into Fahrenheit

def temp(celcius):
  to_Fahrenheit = celcius/(5.0*9)+32
  return to_Fahrenheit

a = temp(int(input("enter your temperature in celcius: ")))
print("In Fahrenheit: ",a)

enter your temperature in celcius: 40
In Fahrenheit:  104.0

In [ ]:
#if number is even return square of digit at ones place if number is odd return cube

def num(a):
  digits_place = a%10
  if a%2 == 0:
    return digits_place**2
  else:
    return digits_place**3
  
    

a = num(int(input("Enter your number: ")))
print("your answer:" , a)

Enter your number: 22
your answer: 4

In [ ]:
#to


def salary(basic):

  da = (50/100)*basic
  hra = (30/100)*basic
  pf = (12/100)*basic
   
  if basic > 25000:
     ta = (15/100)*basic
  else: 
      ta = (5/100)*basic
    
  total_amount = basic + da + hra + ta - pf
  return total_amount

a = int(input("basic salary: "))
a_b = salary(a)
print("total salary: ", a_b)

basic salary: 45000
total salary:  82350.0

In [ ]:
#to check if sum of 2 numbers is greater than 100
a,b =100, 10
if a + b < 100:
  print('value is less than 100')
else:
  print("value is greater than 100")

value is greater than 100

In [ ]:
#to pay for no of calls made 

def call_charges(name):
  
  x = int(input("number of calls made by " + name + " : "  ))
  bill_amount = 2*x
  tax = (15/100)*x
  total =  bill_amount + tax
  return total
y = input("enter your name: ")
a_b = call_charges(y)
print(a_b)

enter your name: dhruv
number of calls made by dhruv : 45
96.75

In [ ]:
#C to F

def temp(c):
  in_F = (c/5.0*9) + 32
  return in_F

x = int(input("enter your temperature: "))
y = temp(x)
print("in f: ", y)

enter your temperature: 67
in f:  152.60000000000002

In [ ]:
# A program to check whether the number entered by the user is one digit, two-digit or three-digit number.

a = int(input("enter your number: "))
if a > 0 and a <= 9:
  print("1")
elif a >= 9 and a <= 99:
  print("2")
elif a > 99 and a <= 999:
  print("3")

enter your number: 100
3

In [ ]:
# Write a program to print the discount in Rupees for a salesman(Question 4 of UT1)


a = int(input("enter your number: "))
b = None #cannot be used for strings

if a <= 5000:
  b = (5/100)* a
elif a > 5000 and a <= 5000:
  b = (8/100)*a
else:
  b = (10/100) * a
Total_amount = (a - b) 
print(Total_amount)

enter your number: 5000
4750.0

In [ ]:
#using for loop (start,stop,add or subtract)

for a in range(20,43, 2):
  print(a)

20
22
24
26
28
30
32
34
36
38
40
42

In [ ]:

#1-20 natural n0

for a in range(1,21):
  print(a,end=" ")

#multiples of 5 from 25-100
print(end = "\n") 
print("multiples of 5 from 25 to 100: ")
for a in range(25,101,5):
  print(a,end="\n")

#odd numbers from 65-23
print(end = "\n") 
print("odd numbers from 65 to 23: ")
for a in range(65,22,-2):
  print(a,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
multiples of 5 from 25 to 100:
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

odd numbers from 65 to 23:
65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23

In [ ]:
#doubt

def sqr_off(a):
  for i in range(1, a, 1):
    print(i*i)

b = int(input("enter your number"))
result = sqr_off(b)
print(result)

enter your number10
1
4
9
16
25
36
49
64
81
None

In [ ]:
def sqr_in(a):

  for num in range(1,a):

	  print(num ," squared is " ,(num*num))
 
 
b = int(input("enter your integer: "))
result1 = sqr_in(b)
print(result1)

enter your integer: 5
1  squared is  1
2  squared is  4
3  squared is  9
4  squared is  16
None

In [ ]:
#print the maximum number
def max_value(a):
  maxi = 0
  for i in range(1, a + 1):
    c = int(input("enter your number: "))
    if c > maxi:
     maxi = c
  return maxi

b = eval(input("enter your integer: "))
result = max_value(b) 
print(result)

enter your integer: 5
enter your number: 13
enter your number: 14
enter your number: 122
enter your number: 14
enter your number: 2
122

In [ ]:
#factorial
def fact(a):
  b = 1
  for i in range(1,a+1):
    b*=i
  return b

a = int(input("enter your integer: "))

print(fact(a))

enter your integer: 10
3628800

In [ ]:
#sum of n natural numbers
def sum_n(a):
  b = 0
  for i in range (1,a+1):
    b += i
  return b 

a = int(input("enter your integer: "))
sum = sum_n(a)
print(sum)

enter your integer: 10
55

In [ ]:
def number(a):
  sum = 0
  for i in range(1,a+1):
    b = int(input("enter your integer: "))
    sum = sum+b
  print(sum)
  average = sum/2
  return average
  
 
  

    
    


a = int(input("enter your number: "))
result = number(a)
print(result)

enter your number: 3
enter your integer: 2
enter your integer: 3
enter your integer: 5
10
5.0

In [ ]:
def fab(a):
  x,y,z,sum=0,1,1,1
 
  print("fab series",end =': ')
  print(x,y,end=' ')
  while a>=z:

    print(z,end=' ')
    sum+=z
    x,y = y,z
    z = x+y
  print("\n",sum)

a = int(input("enter your limit: "))
fab(a)

enter your limit: 15
fab series: 0 1 1 2 3 5 8 13
 33

In [ ]:
#armstrong number
def arm(a):
  sum = 0
  num = a
  while a!=0:
    r = a%10
    cube = r**3
    sum+=cube
    a=a//10
  if sum==num:
    print("it is an armstrong no")
  else:
    print("it is not an armstrong no")
a = int(input("enter your integer"))
arm(a)

enter your integer407
it is an armstrong no

In [ ]:
#to print a gp

def gp(a,r,n):
  if r >= 0 and n >= 0:
   sum = (((r**n)-1)/(r-1))*a
   print(sum)
  elif r < 0 and n >= 0:
   sum = ((1 - (r**n))/(1-r))*a
   print(sum)

a = int(input("enter your first term: "))
r = int(input("enter your common ratio: "))
n = int(input("enter your number of terms: "))
gp(a,r,n)

enter your first term: 10
enter your common ratio: -5
enter your number of terms: 2
-40.0

In [ ]:
for a in range(3):
  for b in range(5,7):
    print("for a=",a,"b now is",b)

for a= 0 b now is 5
for a= 0 b now is 6
for a= 1 b now is 5
for a= 1 b now is 6
for a= 2 b now is 5
for a= 2 b now is 6

In [ ]:
def prime(n):
  for i in range(2,n):
    if n%i==0:
      print(n," it is not a prime no")
      break
  else:
      print(n,"it is  a prime no:")
        
n = int(input("enter your number: "))
prime(n)

enter your number: 15
15  it is not a prime no

In [ ]:
#to print
#1
#1 2
#1 2 3
 
for i in range(1,6):
  for j in range (1,i+1):
    print(j, end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
#to print
#A
#B C
#D E f
 
 
 
num = 65
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num+=1
  print("\n")

A

B C

D E F

G H I J

K L M N O

In [ ]:
#fab


def fab(a):
  x,y,z=0,1,1
  sum = 1
  print("fabonnaci series: ",end=" ")
  print(x,y,end = " ")
  
  while a>=z:
    print(z,end = " ")
    sum+=z
    x,y=y,z
    z = x+y
  print("\n sum: ",sum)

a = int(input("enter your limit: "))
fab(a)

enter your limit: 10
fabonnaci series:  0 1 1 2 3 5 8
 sum:  20

In [ ]:
#reverse a num


def reverse(num):
  reverse = 0
  while num != 0:
    R = num%10
    reverse = (reverse*10) + R
    num = num//10
  print("this is the reverse number %d" %reverse)

num = int(input("enter your intger: "))
reverse(num)

enter your intger: 207
this is the reverse number 702

In [ ]:

#factorial

def fact(a):
  fact = 1
  for i in range(1,a+1):
    fact*=i
  return fact

a = int(input("enter your limit: "))
print("the factorial of ",a," is ",fact(a))

enter your limit: 5
the factorial of  5  is  120

In [ ]:
'''Calculate the sum of the series
1+x1/1!+x2/2!+…….xn/(n)!'''	


def series(x,n):
  s = 1
  for i in range(1,n+1):
    fact = 1
    for j in range(1,i+1):
      fact*=j
    p = x**i
    term = p/fact
    s+=term
    print(s)
  return s

x = int(input('enter your integer: '))
n = int(input("enter your limit: "))
series(x,n)

enter your integer: 2
enter your limit: 3
3.0
5.0
6.333333333333333

6.333333333333333

In [ ]:
#to print armstrong numbers till a limit


def armstrong(n):
  tsum = 0
  for i in range(1,n+1):
    sum = 0
    input1 = i
    while i!=0:
      a = i%10
      cube = a**3
      sum+=cube
      i = i//10
    if sum == input1:
      print("armstrong numbers are ",input1,end=" ")
      tsum += input1
      print(" \n their sum is: ", tsum)
n = int(input("enter your limit: "))
armstrong(n)

enter your limit: 500
armstrong numbers are  1
 their sum is:  1
armstrong numbers are  153
 their sum is:  154
armstrong numbers are  370
 their sum is:  524
armstrong numbers are  371
 their sum is:  895
armstrong numbers are  407
 their sum is:  1302

In [ ]:
#to print n prime numbers


def prime_number(n):
  s,ctr=0,1
  num=2
  while ctr<=n:
    for j in range(2,num):
      if num%j==0:
        num+=1
        break
    else:
        s+=num
        print(num,end=" ")
        ctr+=1
        num+=1
  return s

a=eval(input("enter the no. of terms:"))
result=prime_number(a)
print ("\nThe sum is %d" %result)

enter the no. of terms:7
3 5 7 11 13 17 19
The sum is 75

In [ ]:
a = 10
if a == 10:
  print(a)

10

In [ ]:
# 1 + x2/1! -x3/2! + xn/(n+1)!
def sum(x,n):
  k=1
  sum=1
  while k<=n:

    fac=1
    for i in range(1,k+2):
      fac*=i
    term = (x**k)/fac
    if (k%2==0):
      sum+=term
    else:
      sum-=term
    k+=1
  print("Sum of series:",sum)
x=int(input("Enter the value of x:"))
n=int(input("Enter the limit:"))
sum(x,n)

Enter the value of x:2
Enter the limit:5
Sum of series: 2.666666666666667
enter your limit: 2
enter your number: 5
sum of series= 2.666666666666667

In [ ]:
p=10 
q=5 
r=0.7 
s=1.3
print(p*q-r/s) #first p and q were multiplied and r/s and then both of them got subtracted-- (p*q)-(r/s)
print(p**2+q)
print(p-s%2)

49.46153846153846
105
0.6999999999999993

In [ ]:
a ="my name is  dhruv"

print(a.isspace())

False

In [ ]:
#to change case

def case(a):
  change = ""
  for i in a:
    if i.islower():
      change = change+ i.upper()
    else:
      change+=i.lower()
  print(change)
a = input("enter your name: ")
case(a)

enter your name: DhRuV
 dHrUv

In [ ]:
#function to know alphabets spaces and digits
def question(a):
  alpha,space_1,digit,char=0,0,0,0
  for i in a:
    char+=1
    if i.isspace():
      space_1+=1
    elif i.isalpha():
      alpha+=1
    elif i.isdigit():
      digit+=1
  print("no of characters: ",char)
  print("no of spaces: ",space_1)
  print("no of alpha: ",alpha)
  print("no of digit: ",digit)
a = input("enter your string: ")
print(question(a))

enter your string: Dh2004ruv Popli
no of characters:  15
no of spaces:  1
no of alpha:  10
no of digit:  4
None

In [ ]:
#to change to lower case

def change(a):
  str_1 =""
  for i in a:
    str_1+=i.lower()
  print(str_1)
a = input("enter your string: ")
change(a)

enter your string: DHruv
dhruv

In [ ]:
#sum of only even numbers

sum,num=0,1
while num>0:
	num=int(input("Enter number:"))
	if num%2==0:
		sum+=num
else:
	print ("The sum is", sum)

Enter number:0
The sum is 0

In [ ]:
#10 9 8 7 6 5 4 3 2 1 
#9 8 7 6 5 4 3 2 1 
#8 7 6 5 4 3 2 1 
#7 6 5 4 3 2 1 
#6 5 4 3 2 1 
#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1
for i in range(10,1,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("\n")

10 9 8 7 6 5 4 3 2 1

9 8 7 6 5 4 3 2 1

8 7 6 5 4 3 2 1

7 6 5 4 3 2 1

6 5 4 3 2 1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

In [5]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

In [ ]:
num = 79
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(chr(num),end=" ")
    num-=1
  print("\n")

O N M L K

J I H G

F E D

C B

A

In [ ]:

for i in range(4,0,-1):
  a = "*"
  for j in range(i,0,-1):
    print(a*j)
    break

print("opposite: ")

for i in range(1,5):
  a = "*"
  for j in range(1,i+1):
    print(a,end="")
  print(" ")

****
***
**
*
opposite:
*
**
***
****

In [ ]:
#sum and average of integers

n = 0
sum = 0
while n<10:
  a = int(input("enter your integer"))
  sum+=a
  n+=1
average = sum/n
print(average)

enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
enter your integer1
1.0

In [ ]:
a = int(input("enter your integer: "))
b = int(input("enter your limit: "))
for i in range(a,b):
  if i >1:
    for j in range(2,i):
      if i%j!=0:
        print(j)
      else:
        break

enter your integer: 10
enter your limit: 20
2
3
4
5
6
7
8
9
10
2
3
4
5
6
7
8
9
10
11
12
2
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:


a = int(input("enter your integer: "))
b = int(input("enter your limit: "))
for i in range(a,b):
  if i >1:
    for j in range(2,i):
      if i%j==0:
        break
    else:
        print(i)

enter your integer: 5
enter your limit: 10
5
7

In [ ]:
#sum of odd and even number

sum_even,sum_odd=0,0

for i in range(12,38):
  if i%2==0:
    print("even no: ",i)
    sum_even+=i
  else:
    print("odd no: ",i)
    sum_odd+=i
print(sum_even,sum_odd)

even no:  12
odd no:  13
even no:  14
odd no:  15
even no:  16
odd no:  17
even no:  18
odd no:  19
even no:  20
odd no:  21
even no:  22
odd no:  23
even no:  24
odd no:  25
even no:  26
odd no:  27
even no:  28
odd no:  29
even no:  30
odd no:  31
even no:  32
odd no:  33
even no:  34
odd no:  35
even no:  36
odd no:  37
312 325

In [ ]:
def mini(a):
  mini = 9999999999
  b = None
  for i in range(1,a+1):
    b = int(input("enter your value: "))
    
    if mini>b:
      mini = b
  return mini
    

a = int(input("enter your limit: "))
print(mini(a))

enter your limit3
enter your value: 2
enter your value: 52
enter your value: 23
2

In [ ]:


def max_value(a):
  maxi = 0
  for i in range(1, a + 1):
    c = int(input("enter your number: "))
    if c > maxi:
     maxi = c
  return maxi

b = eval(input("enter your integer: "))
result = max_value(b) 
print(result)

enter your integer: 3
enter your number: 10
enter your number: 15
enter your number: 9
15

In [ ]:
a = input("enter your string: ")
b = input("enter your string: ")
s3 = " "
if a in b:
  s3 = b[:6]+"Restore"
print(s3)

enter your string: Dhruv
enter your string: Dhruv Popli
Dhruv Restore

In [ ]:
a = input("enter your string: ")
if a == a[::-1]:
  print("it is bla bla")
else:
  print("it is not bla bla ")

enter your string: racecar
it is bla bla

In [ ]:
def armstrong(n):
  for i in range(1,n+1):
    sum = 0
    temp = i
    while i!=0:
      R = i%10
      cube = R**3
      sum+=cube
      i//=10
    if sum==temp:
      print(temp)

n= int(input("enter your limit: "))
armstrong(n)

enter your limit: 500
1
153
370
371
407

In [ ]:
def armstrong(a):
  sum = 0
  temp = a
  while a!=0:
    r = a%10
    cube = r**3
    sum+=cube
    a//=10
  if sum == a:
    print("yes")
  else:
    print("no",a)


a = int(input("enter your number: "))
armstrong(a)

enter your number: 407
no 0

In [ ]:
def reverse(a):
  reverse = 0
  while a!=0:
    r = a%10
    reverse = (reverse*10)+r
    a//=10
  print(reverse)
a = int(input("enter your num"))
print(reverse(a))

enter your num207
702
None

In [ ]:
#H) '''Write a menu driven program for the following:
 #1. Display average of all numbers entered by the user
 #2. Display the squares of 5 numbers entered by the user




def average():
  n = int(input("enter your number: "))
  sum = 0 
  for i in range(1,n+1):
    a = int(input("enter your number: "))
    sum+=a
  average = sum/n
  print(average)

def square():
  for i in range(1,6):
    b = int(input("enter your integer: "))
    print(b*b)

choice= int(input("enter your choice: "))

if choice==0:
  print(average())
else:
  print(square())

enter your choice: 0
enter your number: 5
enter your number: 1
enter your number: 2
enter your number: 3
enter your number: 4
enter your number: 5
3.0
None

In [ ]:
def sum(a):
  sum = 0
  while a!=0:
    a = int(input("enter your integer: "))
    if a%2==0:
      sum+=a
  return sum
a = int(input("enter your integer: "))
sum(a)

enter your integer: 12
enter your integer: 21
enter your integer: 24
enter your integer: 23
enter your integer: 11
enter your integer: 0

24

In [ ]:
def fact(a):
  fact = 1
  for i in range(1,a+1):
    fact*=i
  return fact
a = int(input("enter your limit: "))
fact(a)

enter your limit: 5

120

In [ ]:
#To display the squares of all positive even numbers entered by the user. 
#The program should continue as long as the user wants but should terminate when the user enters a zero or a negative number.


def sqr(a):
  while a>0:
    a = int(input("enter your number"))
    if a%2 ==0:
      print(a*a)
    elif a<0:
      print("invalid input")
      break
a = int(input("enter any number greater than zero: "))
sqr(a)

enter any number greater than zero: 37
enter your number37
enter your number42
1764
enter your number-5
invalid input

In [ ]:
for i in range(100,501):
  if i%11==0 and i%2!=0:
    print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
def armstrong(a):
  tsum = 0
  j = 1
  num = 1
  while j<=n:
    sum = 0
    a = num
    while num!=0:
      d = num%10
      d = d**3
      sum+=d
      num//=10
    if sum==a:
      print(a)
      j+=1
      tsum += a
    num=a+1
  print("sum:",tsum)
    

n = int(input("enter the no of armstrong numbers: "))
print(armstrong(n))

enter the no of armstrong numbers: 5
1
153
370
371
407
sum: 1302
None

In [ ]:
def table(x):
  for i in range(x,x*11,x):
    print(i)

x = int(input("enter your integer: "))
print(table(x))

enter your integer: 5
5
10
15
20
25
30
35
40
45
50
None

In [ ]:
def series(x,n):
  s = 1
  for i in range(1,n+1):
    fact = 1
    for j in  range(1,(2*i)+1):
      fact*=j
    p = x**i
    term= p/fact
    if n %2==0:
      s-=term
    else:
      s+=term
  return s
x = int(input("enter your integer: "))
n = int(input("enter your limit: "))
print(series(x,n))

enter your integer: 2
enter your limit: 3
2.1777777777777776

In [ ]:
def prime(n):
  s = 0
  ctr = 1
  num = 2
  while ctr<=n:
    for i in range(2,num):
      if num%i==0:
        num+=1
        break
    else:
      s+=num
      print(num,end=" ")
      ctr+=1
      num+=1
  return s
n = int(input("enter your limit: "))
print("\n",prime(n))

enter your limit: 10
2 3 5 7 11 13 17 19 23 29
 129

In [ ]:
num = 1
a = 1
while a<=20:
  for i in range(0,num):
    if num%2== 0 or num%3==0:
      num+=1
      break
    else:
      print(num,end= " ")
      num+=1
      a+=1

1 5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59

In [ ]:
#Q3a).Write aprogram which accepts an integer n. The program will print the sum of even and odd numbers
#separately from 1 to n. (2)
#For e.g if n passed is 10, then the output should be:
#Sum of even nos: 30
#Sum of odd nos:



def sum(a):
  sum_odd = 0
  sum_even = 0
  for i in range(1,a+1):
    if i%2==0:
      sum_even+=i
    
    else:
      sum_odd+=i
  print(sum_odd)
  print(sum_even)

a = int(input("enter your integer: "))
sum(a)

enter your integer: 10
25
30

In [ ]:
#U
#1
#/ 2!+U 2
#/ 3!+U3
#/ 4!+U4
#/ 5!+…………………..Un
#/ (n+1)! 



def sum(x,n):
  s = 0
  for i in range(1,n+1):
    fact = 1
    for j in range(1,i+2):
      fact*=j
    p = x**i
    term = p/fact
    s+=term
  return s
x = int(input("enter your integer: "))
n = int(input("enter your limit: "))
print(sum(x,n))

enter your integer: 2
enter your limit: 3
1.9999999999999998

In [ ]:
#WAP to print whether a number entered by the user is prime or not.
def prime(a):
  for i in range(2,a+1):
    if a%i!=0:
      print("it is a prime number: ")
    else:
      print("no")
      break

a = int(input('enter your number: '))
prime(a)

enter your number: 6
no

In [ ]:
for I in range(2):
  for j in range(1):
    print(I,j)
  else:
    print("to check")

0 0
to check
1 0
to check

In [ ]:
#. WAP to input a string and display it in the fashion shown below. E.g. if input string is INDIA (2)
#I
#NN
#DDD
#I I I I
#A A A A A


a = input("enter your string: ")
ch = " "
for i in range(1,6):
  for ch in  a:
    print(ch,end=" ")

enter your string: india
i n d i a i n d i a i n d i a i n d i a i n d i a

In [ ]:
def min_max(a):
  max = -99999999999
  mini = 99999999999
  for i in range(1,a+1):
    b = int(input("enter your integer"))
   
    if b>max:
      max = b
    if b<mini:
      mini=b
  return max,mini
     
      
a = int(input("enter your n numbers"))
print(min_max(a))

enter your n numbers3
enter your integer21
enter your integer14
enter your integer32
(32, 14)

In [ ]:
s= "MyPython Programming"
ctr=len(s)
print(s[0:5])
print(s[ 0:-5])

MyPyt
MyPython Progra

In [ ]:
a = "dhruv"
print(a[::-1])

vurhd

In [ ]:
Str1="Hello Class" 
Str1[::2]

'HloCas'

In [ ]:
str1="AISSCE-xi@2020"
new_str=""
for i in range(len(str1)):
  if i%2==0:new_str=new_str+str1[i+1]
  elif str1[i].isupper():
    new_str=new_str+str1[i].lower()
  else:
      new_str=new_str+"2"
print("The given string:",str1)
print("The New String:",new_str)

The given string: AISSCE-xi@2020
The New String: IiSsEex2@20202

In [ ]:

for i in range(1,5):
  a = 1
  for j in range(1,i+1):
    print(a,end=" ")
    a+=2
  
  print(" ")

1
1 3
1 3 5
1 3 5 7

In [ ]:
a = 345%10
print(a)
a = 345//10
print(a)
a = a%10
print(a)
a = 34//10
print(a)

5
34
4
3

In [ ]:
def lsearch(list1,num):
  flag=-1
  pos=-1
  for i in range(len(list1)):
    if list1[i]==num:
      flag=1
      pos=i+1
      break
  return pos

num=int(input("Enter a number:"))     
list1=[10,20,30,40,50,60,10]
ans=lsearch(list1,num) 
if ans==-1:
  print('Element not found')
else:
  print('Element found at position',ans)

Enter a number:5
Element not found

In [ ]:
list1=[11,21,31,41,51,61]
for i in range(0,len(list1),2):
  list1[i],list1[i+1]=list1[i+1],list1[i]
print("The final list",list1)

The final list [21, 11, 41, 31, 61, 51]

In [ ]:
#Given a list of integers, display all numbers which are palindromes in that list
list1 = [21,22,23,25,26,66]
a = len(list1)
reverse = 0
b = 0
while a>b:
  num = str(list1[b]) 
  reverse = 0
  i = list1[b]
  R = i%10
  reverse = reverse*10 + R
  i = i//10
  j = str(reverse)
  i = str(i)
  i = j + i
  b +=1
  if num == i:
    print(i," is a palindrome")

22  is a palindrome
66  is a palindrome

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
list2 = list1[:4]
list3 = []

list1 = list1[::-1]
for i in range(len(list1),4,-1):
  list3.append(i)
list4 = list3+list2
print(list4)

[8, 7, 6, 5, 1, 2, 3, 4]

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
list2 = list1[:4]
list3 = list1[-4::1]
list4 = list3+list2
print(list4)

[5, 6, 7, 8, 1, 2, 3, 4]

In [4]:
list1=[1,2,3,4,5,6,7,8,9] 
k=len(list1)//2  
if len(list1)%2!=0:
  k=k+1


for i in range(k,len(list1)): 
  list1[i],list1[i-k]=list1[i-k],list1[i] 
print(list1)

[6, 7, 8, 9, 5, 1, 2, 3, 4]

In [ ]:
list1=[11,21,31,41,51,61]
for i in range(0,len(list1),2):
  list1[i],list1[i+1]=list1[i+1],list1[i]
print("The final list",list1)

The final list [21, 11, 41, 31, 61, 51]

In [1]:
list1=[1,2,3,4,5]
print(list1)



for i in range(len(list1),0,-1):
   list1[i-1],list1[i-2]=list1[i-2],list1[i-1]
print(list1) 
list1[0],list1[4]= list1[4],list1[0]


print(list1)

[1, 2, 3, 4, 5]
[4, 1, 2, 3, 5]
[5, 1, 2, 3, 4]