<a href="https://colab.research.google.com/github/DhruvPopli/python/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#to print
#1
#1 2
#1 2 3
 
for i in range(1,6):
  for j in range (1,i+1):
    print(j, end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [2]:
#to print
#A
#B C
#D E f
 
 
 
num = 65 #can set the limit of letters
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(num),end=" ")
    num+=1
  print("\n")

A

B C

D E F

G H I J

K L M N O

In [3]:
#10 9 8 7 6 5 4 3 2 1 
#9 8 7 6 5 4 3 2 1 
#8 7 6 5 4 3 2 1 
#7 6 5 4 3 2 1 
#6 5 4 3 2 1 
#5 4 3 2 1 
#4 3 2 1 
#3 2 1 
#2 1
for i in range(10,1,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("\n")

10 9 8 7 6 5 4 3 2 1

9 8 7 6 5 4 3 2 1

8 7 6 5 4 3 2 1

7 6 5 4 3 2 1

6 5 4 3 2 1

5 4 3 2 1

4 3 2 1

3 2 1

2 1

In [4]:
#AlPHABET IN OPPOSITE
num = 79
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(chr(num),end=" ")
    num-=1
  print("\n")

O N M L K

J I H G

F E D

C B

A

In [5]:
for i in range(4,0,-1):
  a = "*"
  for j in range(i,0,-1):
    print(a*j)
    break

print("opposite: ")

for i in range(1,5):
  a = "*"
  for j in range(1,i+1):
    print(a,end="")
  print(" ")

****
***
**
*
opposite:
*
**
***
****

In [6]:
# to input a string and display it in the fashion shown below. E.g. if input string is INDIA (2)
#I
#NN
#DDD
#I I I I
#A A A A A

a = input("enter your string: ")
list1 = list(a)
length = len(list1)
b = 0
c = 1
while length>b:
  list2 = list1[b]
  print(list2*c)
  b+=1
  c+=1

enter your string: INDIA
I
NN
DDD
IIII
AAAAA